header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #483AA0;
    
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #E3D095;
    font-weight: bold;;
}

.favoritos{
    text-decoration: none;
    cursor: pointer;
    background-color: #E3D095;
    color: #0E2148;
    padding: 5px 14px;
    border-radius: 4px;
}