.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; 
  background-color: #0e2148;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1; 
  display: flex;
  flex-direction: column;
}
